header{
    width: 100%;
    height: 67px;
    background-image: url("../images/header_bg.png");
    background-repeat: repeat-x; /*가로만 반복*/
    /* 상대경로를 정할때 css기준 상대경로로 지정한다. */
}
.header_wrap{
    width: 70%;
    height: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header_logo{
    
    height: 67px;
    padding: 13px 0;
    box-sizing: border-box;
}
.header_nav{
    width: 50%;
    height: 100%;
    
   
}
.header_nav > ul{
    display: flex;
    justify-content: space-around;
    
}
.header_nav>ul>li{
    line-height: 67px;
    
}
.header_nav>ul>li>a{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.header_nav>ul>li>a:hover{
    color: red;
}

.header_sub{
    width: 25%;
    height: 100%;
    
}
.header_sub>ul{
    display: flex;
    justify-content: space-between;
}
.header_sub>ul>li{
    line-height: 67px;
}
.header_sub>ul>li>a{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}