.c1{
    width: 200px;
    height: 200px;

    background-color: red;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.c3{
    width: 200px;
    height: 200px;

    margin: 100px 0px 100px 100px;
    background-color: yellow;

}
.c2{
    width: 200px;
    height: 200px;
    
    margin-left: 100px;
    background-color: blue;

}
.c4{
    width: 500px;
    height: 300px;
    margin: 0px auto 0px auto;
    background-color: yellow;
    overflow: hidden;

}
.c4_1{
    width: 50%;
    height: 200px  ;
    margin: 50px 125px;
    background-color: red;
}
.c4_2{
    width: 250px;
    height: 200px  ;
    background-color: blue;
}