.c1{
    width: 200px;
    height: 200px;
    margin: 50px 0px;
}
.bg1{
    background-color: red;
    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
    border-top: black dotted 3px;
    border-top-right-radius: 50px;
    padding-top: 30px;
}

.bg2{
    background-color: blue;
    border: 5px red solid;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 50px;
}
.bg3{
    background-color: yellow;
    border: 5px black solid;
    border-radius: 200px;
    padding: 80px;
    box-sizing: border-box;
}   

.d1{
    color: aqua;
    border: solid black;
    padding: 50px;
    margin: 50px;
    /* 인라인은 가로세로X */
    width: 200px;
    height: 500px;
}