.f1{
    font-size: 2em;

}
.f1_1{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.f1_2{
    width: 200px;
    height: 100px;
    border: 1px solid red;
    
    font-size: 1em;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    line-height: 100px;
}