/* *{
    color:red;

} */
h1{
    color: rebeccapurple;
}
#id1{
    color: yellowgreen ;
}
h2,h3{
    color: yellow;
}
.c1{
    color: aqua;
}

*{
    margin: 0;
    padding: 0;
}
.c2{
    width: 200px;
    height: 200px;
    text-decoration: line-through;
}
/* 자손선택자 */
/* .c2 > p {
    color: white;
    text-decoration: line-through;
} */
/* 후손선택자 */
/* .c2 >div> p{
    color: yellow;
    text-decoration: underline;
} */